<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>New Reply Notification</title>
    </head>
    <body>
        <h1>New Reply Notification</h1>
        <h2>Hello! <% name %></h2>
        <p>
            A new reply is added to your question in the video " <% title %> "
        </p>
        <p>
            please login to our website
            <a href="http://www.klearning.com">KLearning</a> to view the reply
            and continue discusstion
        </p>
        <p>Thank you to being a part of our community</p>
    </body>
</html>
